# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\A222-idea-workspace\SSM-SMBMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
